<% provide(:title, "About") %>


<h3>What is Status?</h3>
<hr/>
<p>
    Status is a new social network that is taking a different approch than the current networks.
    At Status we believe the User is not the product and their data is their own.
    Status will never sell any user data for any reason!
    We believe that our community deserves privacy when using Status, and not building gigantic data
    modals to give to advitisers to sell to you.
    Status wants to be more than your run of the mill social network. We want to provide a
    platform that rewards users for their time, content, and engagement. Status currently has 3 core
    newsfeeds, Global, New, and of course following.
</p>
