<% provide(:title, "About") %>
<h1>About</h1>
<h3>Intro</h3>
<hr/>
<p>
Hi! My name is Palermo Deschamps, I'm 28, I live in New York City, and I'm the founder of Status. I want to take this oppertunity to
let you know why I made this new social network, and my phillosophy in social media in general.
</p>
<h3>Status</h3>
<hr/>
<p>
    Status is a global social network that exposes the best content worldwide. Our platform ranks data globally and locally through a democratized process based on users votes. We offer value to our users with exclusive rewards for their engagement, including status points for promotions on their own or other creative content. Users will also be able to monetize their content through advertisers and paid up votes. Status is a network focused on returning trust and value to our users by building a fair and balanced platform that benefits everyone.
</p>
