<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>WELCOME TO STATUS</h1>

  <h2>
    a network for all
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
