<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Welcome to the Status</h1>

  <h2>
    The future of social networks
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
