// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home {

  //background: url('https://i.pinimg.com/originals/a1/11/4d/a1114dbb654b395d2ca9cd5ad53b4ea6.gif') no-repeat center center fixed;
   background: url('https://media.giphy.com/media/hVL2HJTw5nLuE/giphy.gif') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #708090;

}
